<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Transcription</title>
</head>

<body>
    <h1>Audio Transcription and Analysis</h1>
    <h2>Transcription:</h2>
    <p>{{ transcription }}</p>

    <h2>Analysis Result:</h2>
    <ul>
        {% for symptom in result %}
        <li>{{ symptom }}</li>
        {% endfor %}
    </ul>

    <h2>Confidence Score</h2>
    <ul>
        {% for score in accurcy %}
        <li>{{ score }}</li>
        {% endfor %}
    </ul>
    <h2>Reason:</h2>
    <p>{{ reason }}</p>

    <h2>Medicine</h2>
    <p>{{ medicine }}</p>

    <h2>Diet:</h2>
    <p>{{ diet }}</p>



    <h2>Workout:</h2>
    <ul>
        {% for item in workout %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>

</html>
